.burger {
  width: 30px;
  height: 23px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

.menu a {
  color: var(--color-white);
  text-decoration: none;
}

.menu {
  list-style: none;
}



.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding-top: 3em;
  padding-right: 1em;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* under header */
    right: 20px;
    padding: 20px;
    z-index: 10;
    border-radius: 20px;
    background-color: var(--color-lightbrown);
  }

  .burger {
    display: flex;
    flex-direction: column;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav.active .menu {
    display: flex;
  }

  nav.active .menu li {
    margin: 20px 0;
    text-align: right;
  }
  nav.active .menu a {
    font-size: 24px;
  }
  
  .menu li a:hover {
  background-color: var(--color-brown);
  border-radius: 15px;
  padding: 0.2em;
}
}
