/* index */

.grid_1 img {
  max-width: 70%;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: 10px;
  border: 10px solid var(--color-brown);
}

.grid_1 {
  margin: auto;
  text-align: center;
  padding-bottom: 5em;
}

.grid_1 h3 {
  max-width: 50%;
  padding: 0.2rem;
  margin: auto;
  margin-top: 1em;
}

.grid_container {
  padding-top: 25em;
}

.grid_container h3 {
  background-color: var(--color-white);
  border-radius: 10px;
}

.h1 {
  padding-left: 2em;
  margin: 0;
}

.h2 h2 {
  text-align: center;
  margin-bottom: 3em;
}

h1 {
  font-size: 5rem;
  padding-top: 1em;
}

.h1,
h1,
p {
  margin: 0;
}

.card {
  position: relative;
}

.card a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 2px solid var(--color-white);
  padding: 5px 15px 5px 15px;
  background-color: var(--color-lightbrown);
}

.card button {
  background-color: var(--color-lightbrown);
}

.card a {
  text-decoration: none;
  color: var(--color-white);
}

.scroll-indicator {
  position: absolute; /* eller fixed */
  left: 50%;
  top: 50%;
  font-size: 2rem;
  color: var(--color-lightbrown);
  animation: bounce 1.5s infinite;
  opacity: 0.8;
  background-color: var(--color-white);
  border-radius: 50%;
  padding: 0.5em;
  margin-top: 4em;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 10px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

#scroll {
  cursor: pointer;
}

/* Tema 1 */

.se_video_btn {
  border-radius: 10px;
  border: 2px solid var(--color-white);
  padding: 5px 15px 5px 15px;
  background-color: var(--color-lightbrown);
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 11em;
  max-width: 17%;
}

.se_opg_btn {
  border-radius: 10px;
  border: 2px solid var(--color-white);
  padding: 5px 15px 5px 15px;
  background-color: var(--color-lightbrown);
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 11.5em;
  max-width: 17%;
}

.se_side_btn {
  border-radius: 10px;
  border: 2px solid var(--color-white);
  padding: 5px 15px 5px 15px;
  background-color: var(--color-lightbrown);
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 9.5em;
  max-width: 25%;
}

.se_opg_btn a {
  text-decoration: none;
  color: var(--color-white);
}

.se_side_btn a {
  text-decoration: none;
  color: var(--color-white);
}

.se_video_btn a {
  text-decoration: none;
  color: var(--color-white);
}

.logo {
  padding-right: 17em;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between; /* logo til venstre, burger til højre */
  flex-wrap: wrap; /* så knapperne kan bryde til næste række */
  padding: 1em 2em;
}

.nav-buttons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
  padding-top: 5em;
  text-align: center;
}

.nav-buttons a {
  display: inline-block;
  padding: 0.8em 1.5em;
  background-color: var(--color-blue);
  border-radius: 15px;
  text-decoration: none;
  color: var(--color-white);
}

.nav-buttons a:hover {
  background-color: var(--color-blue);
  transform: translateY(-2px);
}

.tema img {
  max-width: 70%;
  margin-left: 4.5em;
  padding-bottom: 2em;
}

.tema {
  padding-top: 5em;
}

.tema p,
h3 {
  max-width: 80%;
  place-self: center;
}

.tema2 > .billede3 img {
  max-width: 70%;
  padding-left: 4.5em;
  padding-bottom: 2em;
}

.tema2 > .tekst3 {
  max-width: 80%;
  padding-left: 3.5em;
}

.tema button {
  position: relative;
  left: 41%;
  border-radius: 10px;
  border: 2px solid var(--color-white);
  padding: 5px 15px 5px 15px;
  background-color: var(--color-lightbrown);

  margin-top: 3em;
  margin-bottom: 3em;
}

.tema a {
  text-decoration: none;
  color: var(--color-white);
}

.tema button:hover {
  transform: translateY(-2px);
}

.tema_overskrift {
  text-align: center;
  margin-bottom: 3em;
  padding-top: 5em;
}

/* Tema 2 */

.tekst_container2 {
  margin: 2.5em;
}
/* Tema 3 */

.temabtn a {
  position: relative;
  left: 28%;
  border-radius: 10px;
  border: 2px solid var(--color-white);
  padding: 5px 15px 5px 15px;
  background-color: var(--color-lightbrown);
  color: var(--color-white);
  text-decoration: none;
}

.temabtn {
  margin-top: 4em;
  margin-bottom: 10em;
}

/* Tema 4 */
/* Tema 5 */

/* om mig */
.margin_top {
  margin-top: 4em;
}

.portræt {
  position: relative;
  display: inline-block;
}

.portræt::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: var(--color-blue);
  border-radius: 50%;
  z-index: -1;
  left: 13%;
  bottom: 43%;
}

.portræt img {
  max-width: 40%;
  margin-bottom: 6em;
  margin-left: 9em;
}

.portræt > .billede6 {
  
  transform: translateY(53px);
}
.skjult_billede {
  display: none;
}

.skjult_billede2 {
  display: none;
}

.gynge {
  max-width: 50%;
  padding-left: 7.5em;
  padding-top: 3em;
}

.tekst6,
.tekst7 {
  max-width: 80%;
  place-self: center;
}

@media screen and (min-width: 800px) {
  /* index */
  .menu {
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
    padding-right: 1.5em;
    padding-top: 1em;
  }

  .menu li {
    border-radius: 35px;
    color: var(--color-white);
    background-color: var(--color-lightbrown);
    border: 1px solid var(--color-white);
    padding: 1em 2em 1em 2em;
  }

  .menu li a:hover {
    border-radius: 15px;
    padding: 0.2em;
  }

  .card a {
    padding: 15px 50px 15px 50px;
  }

  .card a {
    font-size: larger;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .h1 h1 {
    font-size: 10em;
    padding-top: 0.5em;
  }

  .h1 {
    padding-left: 10em;
  }

  .h2 h2 {
    font-size: xx-large;
    padding-bottom: 2em;
    margin-top: 4em;
  }

  .grid_container {
    padding-top: 20em;
  }

  .scroll-indicator {
    position: absolute; /* eller fixed */
    left: 50%;
    top: 50%;
    font-size: 2rem;
    color: var(--color-lightbrown);
    animation: bounce 1.5s infinite;
    opacity: 0.8;
    background-color: var(--color-white);
    border-radius: 50%;
    padding: 0.5em;
    margin-top: 7em;
  }

  @keyframes bounce {
    0% {
      transform: translate(-50%, 0);
    }
    50% {
      transform: translate(-50%, 10px);
    }
    100% {
      transform: translate(-50%, 0);
    }
  }

  /* tema sider */

  

  .skjult_billede {
    display: block;
    width: 110%;
    height: 175%;
    object-fit: cover;
    position: absolute;
    right: 2em;
    z-index: -1;
    padding-left: 2em;
    top: 25em;
    left: -4em;
  }

  .nav-buttons {
    display: flex;
    padding-top: 8em;
    padding-left: 25em;
    gap: 2em;
  }

  .tekst_container p {
    padding: 0.5em;
  }

  .tekst_container {
    padding-top: 3.5em;
    padding-right: 15em;
  }

  .tekst_container2 {
    padding-left: 14em;
    padding-top: 0em;
  }

  .tekst_container2 p {
    padding: 0.5em;
  }

  .tekst_container3 {
    padding-top: 2.5em;
    padding-right: 5em;
  }

  .tekst_container4 {
    padding-top: 3.5em;
    padding-left: 10em;
  }

  .tekst_container4 > .tekst2 {
    padding: 0.5em;
  }

  .tekst_container4 {
    padding: 0.5em;
  }

  .tekst_container4 > .tekst3 {
    padding: 0.5em;
    margin: 0.5em;
    padding-left: 16em;
  }

  .tekst_container5 > .tekst5 {
    padding: 0.5em;
    margin: 0.5em;
  }
  .tekst_container5 {
    padding-left: 15em;
  }

  .tema {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 9em;
  }

  .tema2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
  }

  .tema2 > .billede3 {
    padding-top: 6em;
    padding-right: 15em;
  }

  .tema2 > .tekst3 {
    padding-left: 15em;
    padding-top: 10em;
  }

  .temabtn {
    display: flex;
    transform: translateY(-270%);
    gap: 2em;
    padding-right: 31em;
  }

  .temabtn2 {
    display: flex;
    transform: translateY(-30%);
    gap: 2em;
    margin-left: 6.3em;
  }

  .temabtn3 {
    display: flex;
    transform: translateY(10%);
    gap: 2em;
    margin-left: 18em;
  }

  .se_video_btn {
    left: 41%;
    border-radius: 10px;
    border: 2px solid var(--color-white);
    background-color: var(--color-lightbrown);
    max-width: 8%;
    padding: 0.5em 1em 0.5em 1em;
    text-align: center;
    transform: translateY(-150%);
    margin-left: 18.7em;
  }

  .se_video_btn a {
    text-decoration: none;
    color: var(--color-white);
    text-align: center;
  }

  .se_opg_btn {
    border-radius: 10px;
    border: 2px solid var(--color-white);
    background-color: var(--color-lightbrown);
    max-width: 8%;
    margin-left: 48.2em;
    padding: 0.5em 1em 0.5em 1em;
    text-align: center;
    transform: translateY(-350%);
  }

  .se_opg_btn a {
    text-decoration: none;
    color: var(--color-white);
  }

  .se_side_btn {
    border-radius: 10px;
    border: 2px solid var(--color-white);
    background-color: var(--color-lightbrown);
    max-width: 10%;
    margin-left: 16.7em;
    padding: 0.5em 1em 0.5em 1em;
    text-align: center;
    transform: translateY(-370%);
  }

  .se_side_btn a {
    text-decoration: none;
    color: var(--color-white);
  }

  .billede1 {
    padding-left: 6em;
    padding-top: 2.8em;
  }

  .tekst1 {
    padding-right: 14em;
    padding-bottom: 1em;
  }

  .billede2 {
    padding-right: 4em;
    padding-top: 3em;
  }

  .tekst2 {
    padding-left: 11em;
    padding-top: 4em;
  }

  .billede3 img {
    max-width: 55%;
    margin-left: 2em;
    padding: 0;
    transform: translateY(-18%);
  }

  .tekst3 {
    padding-left: 15em;
    padding-top: 4em;
    margin-bottom: 4em;
  }

  .billede4 {
    padding-left: 3em;
  }

  .tekst4 {
    padding-right: 18em;
    padding-bottom: 1em;
  }

  .billede5 img {
    max-width: 60%;
    margin-left: 10em;
    padding: 0;
    transform: translateY(-5%);
  }

  .order {
    order: -1;
  }

  /* om mig */

  .portræt::before {
    display: none;
  }

  .skjult_billede2 {
    display: block;
    width: 105%;
    height: 162%;
    object-fit: cover;
    position: absolute;
    right: 2em;
    z-index: -1;
    padding-left: 2em;
    left: -4em;
  }

  .portræt {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tekst {
    padding-right: 14em;
    padding-bottom: 1em;
  }

  .portræt > .billede6 {
    max-width: 35%;
    padding-left: 14em;
  }


  .tekst6 {
    padding-right: 22em;
    padding-bottom: 5em;
    max-width: 64%;
  }
  .tekst7 {
    padding-left: 18em;
    padding-top: 2.5em;
    max-width: 64%;
  }

  .gynge {
    max-width: 50%;
    padding-left: 6em;
    padding-top: 2.5em;
    order: 1;
  }

  .portræt2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
